@charset "utf-8";
/* CSS Document */
/*
.bleep_filter_strikeout{
	text-decoration: line-through;	
}
.bleep_filter_blackout_erase{
	background-color: black;
	color: black;	
	letter-spacing: 0.3em;
}


.bleep_filter_blackout{
	background-color: black;
	color: black;	
}


.bleep_filter_blackout:hover{
	color: white;	
}

.bleep_filter_blackout_black{
	background-color: black;
	color: black;
	letter-spacing: 0.3em;	
}

.bleep_filter_word_intensity_slider{
	height: 10px;
	width: 40%;
	float: left;
}

.bleep_filter_word_percent{
	color: #F60;	
	border: 0;
}

#filter_amount{
	color: #F60;
	border: 0;	
	text-align: right;
	font-weight: bold;
	padding-left: 12%;
	margin-bottom: 10px;
}

.bleep_filter_mtop{
	padding-top: 25px;	
}

.bleep_filter_mtop_sm{
	padding-top: 15px;	
}*/
.bleep_filter_strikeout{
	text-decoration: line-through;	
}
.bleep_filter_blackout_erase{
	background-color: black;
	color: black;	
	letter-spacing: 0.3em;
}


.bleep_filter_blackout{
	background-color: black;
	color: black;	
}


.bleep_filter_blackout:hover{
	color: white;	
}

.bleep_filter_blackout_black{
	background-color: black;
	color: black;
	letter-spacing: 0.3em;	
}

.bleep_filter_word_intensity_slider{
	height: 10px;
	width: 40%;
	float: left;
}

.bleep_filter_word_percent{
	color: #F60;	
	border: 0;
}

#bleep_filter_amount{
	color: #F60;
	border: 0;	
	text-align: right;
	font-weight: bold;
	padding-left: 12%;
	margin-bottom: 10px;
}

.bleep_filter_mtop{
	padding-top: 25px;	
}

.bleep_filter_mtop_sm{
	padding-top: 15px;	
}